<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Portraits')" id="defaultOpen">Portraits</button>
  <button class="tablinks" onclick="openTab(event, 'Paysages')">Paysages</button>
  <button class="tablinks" onclick="openTab(event, 'Corps')">Corps</button>
</div>