

body {
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-size: 9px;
    margin:0;
    padding: 0;
}

.gold {
    background-color : gold;
}

.goldrose  {
    background-color: : goldenrod;
}
 
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    
}
.images {
    width: 150px;
    height: 150px;
}

.small {
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-size: 9px;
}

.very-small {
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-size: 8px;
}

.container-site {
    background-color: gold;
}

.active {
    background-color: #4CAF50;
    color: white;
}



