

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    
}

.images {
    width: 150px;
    height: 150px;
}

.small {
    text-align: left;
    text-shadow: 3px 2px blue;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-size: 9px;
}

.very-small {
    text-align: left;
    text-shadow: 3px 2px blue;
    font-family: "Arial", Times, serif;
    font-style: normal;
    font-size: 8px;
}

.container-site {
    background-color: gold;
}

.navbar-inverse {
    background-color: gold;
}