<div id="Divers" class="tabcontent">

    <table>
        <tr>
            <td>
                <div>
                    <img id="lutin" name="lutin.JPG" style="width:350px">
                </div>
            </td>
            <td>
                <div>
                    <img id="basket-converse" name="basket-converse.JPG" style="width:350px">
                </div>
            </td>

        </tr>
        <tr>
            <td>
                <div>
                    <img id="cheval" name="cheval.JPG" style="width:350px">
                </div>
            </td>
            <td>
                <div>
                    <img id="interpellation" name="interpellation.JPG" style="width:350px">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <img id="nature-morte-166" name="nature-morte-166.JPG" style="width:350px">
                </div>
            </td>

        </tr>
    </table>


</div>