<div id="Formation" class="tabcontent">

    <div class="small">

        <br>Je m'appelle Raphaël.
        <br>
        <br>En 2016, j'ai suivi les cours de Madame Anne VIGNAL aux arches à Issy-Les-Moulineaux.
        <br>
        <a href="http://www.lesarches.com/vignal" target="_blank">Anne VIGNAL aux arches</a>
        <br>
        <br>Avec Anne, j'ai travaillé essentiellement les techniques du portrait.
        <br>Anne possède un magnifique site où elle expose l'ensemble de ses créations.
        <br>
        <a href="https://www.annevignal.fr/index.php/" target="_blank">Anne VIGNAL</a>
        <br>
        <br>Depuis Septembre 2017, je suis inscrit aux Arcades, l'école d'art d'Issy Les Moulineaux.
        <br>
        <a href="http://www.issy.com/lesarcades" target="_blank">Les Arcades à Issy Les Moulineaux</a>

        <br>Aux Arcades, toutes les formes d'art sont enseignées.

    </div>

</div>