<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">

        <h2>Ceci est le site de l'artiste Raphaël </h2>
        <p>Et voici quelques unes de mes créations</p>

        <table>
          <tr>
            <td>
              <div class="images">
                <img src="/images/raphael/belle-desertique.jpg" style="width:150px">
              </div>
            </td>
            <td>
              <img src="/images/raphael/arbre-mystique.jpg" style="width:150px">
            </td>
            <td>
              <img src="/images/raphael/femme-a-la-cigarette.jpg" style="width:150px">
            </td>
            <td>
              <img src="/images/raphael/soeurette.jpg" style="width:150px">
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="container">




    </div>


</body>

</html>