<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="jumbotron">
      <div class="container">

        <h2>Je m'appelle Raphaël P.</h2>
        <p>Voici quelques unes de mes créations</p>

        <div id="Portraits" class="tabcontent">

          <table>
            <tr>
              <td>
                <div class="small">

                  <br>Dans cette oeuvre, j'ai cherché à traduire un goût profond pour l'exotisme.
                  <br> La jeune fille ose à peine montrer son visage.
                  <br>J'ai voulu mon modèle timide.
                  <br>Pourtant je souhaité qu'elle témoigne de la même curiosité que celle que je porte à son égard.
                  <br>La couleur de ses yeux semble se réfléchir dans le voile qui lui couvre la tête.

                </div>
              </td>
              <td>
                <img id="belle-du-desert" name="belle-du-desert.JPG" style="width:150px">
              </td>
            </tr>
          </table>

          <table>
            <tr>
              <td>
                <img id="femme-a-la-cigarette" name="femme-a-la-cigarette.JPG" style="width:150px">
              </td>
              <td>
                <div class="small">

                  <br>Ce tableau est une ode à la féminité.
                  <br> La grâce du personnage est rehaussée par cette pose nonchalante qui lui donne un air à la fois distant
                  et très sûre d'elle.
                  <br>Le regard est perçant presque insistant.
                  <br>Les couleurs en particulier de la petite laine traduisent un goût pour la noblesse des matières telles
                  que le cashmere ou le mohair.
                  <br>La simplicité de la composition, sans arrière-plan, a pour seul but de mettre la lumière sur ce visage
                  sans se laisser à aucun moment distraire par un autre artifice.
                  <br>L'image de la mère n'est pas loin.

                </div>
              </td>


            </tr>
          </table>
          <table>

            <td>
              <div class="small">
                <br>Cette oeuvre témoigne de mon attachement envers ma soeur.
                <br>Ce petit portrait lui est dédié.
                <br>Elle a été longtemps une compagne de jeux.
                <br>Aujourd'hui, elle est une confidente très sûre.
              </div>
            </td>
            <td>
              <img id="soeurette" name="soeurette.JPG" style="width:150px">
            </td>
          </table>

        </div>

        <div id="Paysages" class="tabcontent">

          <table>

            <tr>
              <td>
                <img id="arbre-mystique" name="arbre-mystique.JPG" style="width:150px">
              </td>
              <td>
                <div class="small goldrose">

                  <br>L'arbre nu a souvent été considéré comme une représentation de la mort.
                  <br>Ici l'arbre qui porte les feuilles et les fruits est symbole de vie et de fertilité.
                  <br>Ici il occupe une place centrale comme un arbre généalogique.
                  <br>Une butte de foin complète l'image.
                </div>
              </td>
            </tr>

          </table>

        </div>

        <div id="Autres" class="tabcontent">

        </div>

      </div>
    </div>


    <div class="very-small">
      Janvier 2018 copyright Raphaël
    </div>

</body>

</html>