<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="jumbotron">
      <div class="container">

        <h2>Je m'appelle Raphaël P.</h2>
        <p>Voici quelques unes de mes créations</p>

        <table>
          <tr>
            <td class="very-small gold">
              <div>

                Dans cette oeuvre, j'ai cherché à traduire un goût profond pour l'exotisme. La jeune fille ose à peine montrer son visage.
                Je l'ai voulue timide. Pourtant elle témoigne de la même curiosité que celle que je porte à son égard. La
                couleur de ses yeux semble se réfléchir dans le voile qui lui couvre la tête.

              </div>
            </td>
            <td>
              <img id="belle-du-desert" name="belle-du-desert.JPG" style="width:150px">
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td>
              <img id="arbre-mystique" name="arbre-mystique.JPG" style="width:150px">
            </td>
            <td class="very-small goldrose">
              <div>

                L'arbre nu a souvent été considéré comme une représentation de la mort. Ici l'arbre qui porte les feuilles et les fruits
                est symbole de vie et de fertilité. Ici il occupe une place centrale comme un arbre généalogique. Une butte
                de foin complète l'image.
              </div>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td>
              <div class="very-small">
                Ce tableau est une ode à la féminité. La grâce du personnage est rehaussée par cette pose nonchalante qui lui donne un air
                à la fois distant et très sûre d'elle. Le regard est perçant presque insistant. Les couleurs en particulier
                de la petite laine traduisent un goût pour la noblesse des matières telles que le cashmere ou le mohair.
                La simplicité de la composition, sans arrière-plan, a pour seul but de mettre la lumière sur ce visage sans
                se laisser à aucun moment distraire par un autre artifice. L'image de la mère n'est pas loin.
              </div>
            </td>
            <td>
              <img id="femme-a-la-cigarette" name="femme-a-la-cigarette.JPG" style="width:150px">
            </td>

          </tr>
        </table>
        <table>
          <td>
            <img id="soeurette" name="soeurette.JPG" style="width:150px">
          </td>
          <td>
            Cette oeuvre témoigne de mon attachement envers ma soeur. Ce petit portrait lui est dédié. Elle a été ma compagne de jeux
            puis une confidente très sûre.
          </td>
        </table>

      </div>
    </div>
    <div>
      <div class="very-small">
        Janvier 2018 copyright Raphaël
      </div>

</body>

</html>