<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="jumbotron">
      <div class="container">

        <h2>Ceci est mon site.</h2>
        <p>Et voici quelques unes de mes créations:</p>

        <% include ./portraits.ejs %>

          <% include ./paysages.ejs %>

            <% include ./corps.ejs %>

              <div id="Divers" class="tabcontent">

                <td>
                  <img id="madone-en-adoration" name="madone-en-adoration.JPG" style="width:350px">
                </td>
                <td>
                  <img id="lutin" name="lutin.JPG" style="width:350px">
                </td>

              </div>

      </div>
    </div>


    <div class="very-small">
      Janvier 2018 copyright Raphaël P.
    </div>

</body>

</html>