<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="jumbotron">
      <div class="container">

        <% include ./portraits.ejs %>

          <% include ./paysages.ejs %>

            <% include ./corps.ejs %>

              <% include ./formation.ejs %>

                <div id="Divers" class="tabcontent">

                  <div>
                    <img id="lutin" name="lutin.JPG" style="width:350px">
                  </div>

                </div>

      </div>
    </div>


    <div class="very-small">
      Janvier 2018 copyright Raphaël P.
    </div>

</body>

</html>