<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">

        <h2>Ceci est le site de Raphaël P.</h2>
        <p>Et voici quelques unes de ses créations</p>

        <table>
          <tr>
            <td>
              <div class="very-small">

                Dans cette oeuvre, l'artiste a cherché à exprimer l'exotisme en même temps qu'une forme d'humilité. La jeune fille ose à
                peine montrer son visage. Elle montre la même curiosité à l'égard de l'artiste que la curiosité que porte
                sur elle l'artiste. La couleur profonde de ses yeux semble se réfléchir dans le voile qui lui couvre la tête.

              </div>
            </td>
            <td>
              <img id="belle-du-desert" name="belle-du-desert.JPG" style="width:150px">
            </td>
          </tr>

          <tr>
            <td>
              <div class="very-small">
                L'arbre nu a souvent été considéré comme une représentation de la mort. Ici l'arbre qui porte les feuilles et les fruits
                est symbole de vie et de fertilité. Ici il occupe une place centrale comme un arbre généalogique. Une butte
                de foin complète l'image.
              </div>
            </td>
            <td>
              <img id="arbre-mystique" name="arbre-mystique.JPG" style="width:150px">
            </td>
          </tr>
          <tr>
            <td>
              <img id="femme-a-la-cigarette" name="femme-a-la-cigarette.JPG" style="width:150px">
            </td>
            <td>
              <img id="soeurette" name="soeurette.JPG" style="width:150px">
            </td>
          </tr>


        </table>

      </div>
    </div>
    <p class="small">Janvier 2018</p>

</body>

</html>