<div id="Paysages" class="tabcontent">

    <p>Je m'appelle Raphaël</p>
    <br>
    <p>Voici quelques unes de mes créations:</p>

    <table>
        <tr>
            <td>
                <img id="arbre-mystique" name="arbre-mystique.JPG" style="width:350px">
            </td>
            <td>
                <div class="small">

                    <br>L'arbre nu a souvent été considéré comme une représentation de la mort.
                    <br>L'arbre qui porte les feuilles et les fruits est symbole de vie et de fertilité.
                    <br>Dans cette composition, il occupe volontairement une place centrale.
                    <br>C'est un arbre séculaire sous lequel je puise mon inspiration.

                </div>
            </td>
        </tr>

        <tr>
            <td>
                <img id="bord-de-mer-060" name="bord-de-mer-060.JPG" style="width:350px">
            </td>
            <td>
                <img id="campagne-154" name="campagne-154.JPG" style="width:350px">
            </td>
        </tr>

        <tr>
            <td>
                <img id="fresque-arbres-066" name="fresque-arbres-066.JPG" style="width:350px">
            </td>
            <td>
                <img id="fresque-arbres-077" name="fresque-arbres-077.JPG" style="width:350px">
            </td>
        </tr>

        <tr>
            <td>
                <img id="fresque-arbres-079" name="fresque-arbres-079.JPG" style="width:350px">
            </td>
            <td>
                <img id="fresque-arbres-160" name="fresque-arbres-160.JPG" style="width:350px">
            </td>
        </tr>

        <tr>
            <td>
                <img id="meandres-050" name="meandres-050.JPG" style="width:350px">
            </td>
            <td>
                <img id="paysannes-149" name="paysannes-149.JPG" style="width:350px">
            </td>
        </tr>

    </table>

</div>