<div id="Portraits" class="tabcontent">

    <p>Je m'appelle Raphaël</p>
    <br>
    <p>Voici quelques unes de mes créations:</p>

    <table>
        <tr>
            <td>
                <div class="small">

                    <br>Dans cette oeuvre, j'ai cherché à traduire un goût profond
                    <br>pour l'exotisme.
                    <br> La jeune fille ose à peine montrer son visage.
                    <br>J'ai voulu mon modèle timide.
                    <br>Pourtant j'ai souhaité qu'elle témoigne de la même curiosité
                    <br>que celle que je porte à son égard.
                    <br>La couleur de ses yeux semble se réfléchir dans le voile
                    <br>qui lui couvre la tête.

                </div>
            </td>
            <td>
                <img id="belle-du-desert" name="belle-du-desert.JPG" style="width:350px">
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <img id="femme-a-la-cigarette" name="femme-a-la-cigarette.JPG" style="width:350px">
            </td>
            <td>
                <div class="small">

                    <br>Ce tableau est une ode à la féminité.
                    <br> La grâce du personnage est rehaussée par cette pose nonchalante
                    <br>qui lui donne un air à la fois distant et très sûre d'elle.
                    <br>Le regard est perçant presque insistant.
                    <br>Les couleurs en particulier de la petite laine traduisent un goût
                    <br> pour la noblesse des matières telles que le cashmere ou le mohair.
                    <br>La simplicité de la composition, sans arrière-plan,
                    <br>a pour seul but de mettre la lumière sur ce visage
                    <br> sans se laisser à aucun moment distraire par un autre artifice.
                    <br>L'image de la mère n'est pas loin.

                </div>
            </td>

        </tr>
    </table>

    <table>
        <tr>
            <td>
                <div class="small">

                    <br>Cette oeuvre témoigne de mon attachement envers ma soeur.
                    <br>Ce petit portrait lui est dédié.
                    <br>Elle a été longtemps une compagne de jeux.
                    <br>Aujourd'hui, elle est une confidente très sûre.

                </div>
            </td>

            <td>
                <img id="soeurette" name="soeurette.JPG" style="width:350px">
            </td>
        </tr>

    </table>

    <table>

        <tr>
            <td>
                <img id="caravagio-063" name="caravagio-063.JPG" style="width:350px">
            </td>
            <td>
                <img id="caravagio-091" name="caravagio-091.JPG" style="width:350px">
            </td>
        </tr>

        <tr>
            <td>
                <img id="IMG_0373" name="IMG_0373.JPG" style="width:350px">
            </td>
            <td>
                <img id="madone-en-adoration" name="madone-en-adoration.JPG" style="width:350px">
            </td>
        </tr>

        <tr>
            <td>
                <img id="simone-138" name="simone-138.JPG" style="width:350px">
            </td>
            <td>
                <img id="rhinoceros" name="rhinoceros.JPG" style="width:350px">
            </td>
        </tr>

        <tr>
            <td>
                <img id="054" name="054.JPG" style="width:350px">
            </td>
            <td>
                <img id="064" name="064.JPG" style="width:350px">
            </td>
        </tr>

        <tr>
            <td>
                <img id="070" name="070.JPG" style="width:350px">
            </td>
            <td>
                <img id="084" name="084.JPG" style="width:350px">
            </td>
        </tr>

        <tr>
            <td>
                <img id="085" name="085.JPG" style="width:350px">
            </td>
            <td>
                <img id="097" name="097.JPG" style="width:350px">
            </td>
        </tr>

        <tr>
            <td>
                <img id="114" name="114.JPG" style="width:350px">
            </td>
            <td>
                <img id="116" name="116.JPG" style="width:350px">
            </td>
        </tr>

        <tr>
            <td>
                <img id="122" name="122.JPG" style="width:350px">
            </td>
            <td>
                <img id="130" name="130.JPG" style="width:350px">
            </td>
        </tr>

        <tr>
            <td>
                <img id="133" name="133.JPG" style="width:350px">
            </td>
            <td>
                <img id="140" name="140.JPG" style="width:350px">
            </td>
        </tr>

        <tr>
            <td>
                <img id="141" name="141.JPG" style="width:350px">
            </td>
            <td>
                <img id="156" name="156.JPG" style="width:350px">
            </td>
        </tr>

    </table>

</div>